<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rule 1">
          <match url="^habbo-imaging/badge/([^/]+)" ignoreCase="false" />
          <action type="Rewrite" url="/habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
        </rule>
		
        <rule name="Rule 8">
          <match url="^gamedata/external_variables" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/external_variables.txt" appendQueryString="false" />
        </rule>

        <rule name="Rule 9">
          <match url="^gamedata/external_flash_texts" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/external_flash_texts.txt" appendQueryString="false" />
        </rule>

        <rule name="Rule 10">
          <match url="^gamedata/override/external_flash_override_texts" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/override/external_flash_override_texts.php" appendQueryString="false" />
        </rule>

        <rule name="Rule 11">
          <match url="^gamedata/override/external_override_variables" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/override/external_override_variables.txt" appendQueryString="false" />
        </rule>

        <rule name="Rule 12">
          <match url="^gamedata/figuredata" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/figuredata.xml" appendQueryString="false" />
        </rule>

        <rule name="Rule 13">
          <match url="^gamedata/productdata" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/productdata.txt" appendQueryString="false" />
        </rule>

        <rule name="Rule 14">
          <match url="^gamedata/furnidata_xml" ignoreCase="false" />
          <action type="Rewrite" url="gamedata/furnidata.xml" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>